{{!-- views/layouts/main.handlebars --}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SAML Auth App</title>
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {{{body}}}
</body>
</html>